@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default styles */
.container {
    max-width: 70%;
    margin: 3rem auto;
}


/* Shared styles */
.display-flex {
    display: flex;
}

.margin-bottom {
    margin-bottom: 80px;
}

#ham-burger {
    color: rgb(255, 255, 255);
    display: none;
}

.hide {
    display: none;
}


/* Button styles */
.btn-primary {
    width: 214px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-right: 14px;
    cursor: pointer;
}

.btn-secondary {
    width: 214px;
    height: 54px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background: black;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.fitness-image {
    position: relative;
}

.btn-1st,
.btn-2nd {
    position: absolute;
    width: 180px;
    height: 85px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    border: none;
    color: rgb(250, 250, 249);
    cursor: pointer;
}

.btn-1st {
    bottom: 12%;
    left: -24%;
}

.btn-2nd {
    bottom: 61%;
    right: -20%;
}

.circle {
    position: absolute;
    background-color: rgb(230, 83, 60);
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
    left: 13%;
}

#number-1 {
    font-size: 1.3rem;
    font-weight: 900;
    margin-left: 20px;
}

#number-2 {
    font-size: 1.9rem;
    font-weight: 900;
    margin-right: 53px;
}

#content-1 {
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 50px;
}

#content-2 {
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* Color styles */
.color-h {
    color: rgb(255, 255, 255);
}

.color-p {
    color: rgba(255, 255, 255, 0.5);
}

.header-container {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.8) 70%, rgba(19, 19, 24, 0) 100%);
}

/* Nav-bar styles */
.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-options {
    justify-content: space-evenly;
    gap: 2.9rem;
}

.nav-name-col {
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}

.nav-options {
    font-weight: 400;
    font-size: 1.12rem;
    color: rgb(255, 255, 255);
}

.nav-options .nav-1st-option {
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.nav-options button {
    width: 92px;
    height: 38px;
    border: none;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    margin-top: -8px;
}

/* Banner styles */
.fitness-container {
    justify-content: space-between;
    align-items: center;
}

.fitness-container h3 {
    font-weight: 900;
    font-size: 4.8rem;
    color: rgb(255, 255, 255);
    margin-bottom: 28px;
}

.span-italic {
    font-weight: 400;
    font-size: 4.8rem;
    font-family: "Dancing Script", cursive;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.fitness-container p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 28px;
}

.fitness-content {
    width: 599.05px;
    height: 439px;
}

/* Change Your Habits styles */
.habits-container {
    width: 1044px;
    height: 550px;
    margin: 0 auto;
}

.habits-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    text-align: center;
    gap: 1rem;
}

.habits-image img {
    border-radius: 50%;
    margin-bottom: 5%;
}

.habits-image p {
    width: 230px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

#rules {
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    margin-bottom: 6px;
}

/* Run extra mile styles */
.run-container {
    height: 371px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 80px;
}

.run-content {
    max-width: 443px;
    height: 290px;
}

.run-content h3 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.run-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 34px;
}

/* Unique styles */
.unique-container {
    max-width: 1140px;
    height: 1610px;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 50px;
}

.unique-section-contents {
    text-align: center;
}

.unique-section-contents h3 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.unique-section-contents p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.unique-content {
    max-width: 946px;
    margin-top: 40px;
    margin-left: 97px;
    margin-right: 97px;
    margin-bottom: 80px;
}

.unique-h3 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 14px;
}

.unique-p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.unique-button {
    width: 150px;
    height: 48px;
    /* background-color: rgb(181, 180, 180); */
    background: rgb(230, 83, 60);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

.unique-container a {
    color: rgb(255, 255, 255);
    /* color: rgb(20, 19, 19); */
    text-decoration: none;
}

.unique-img {
    width: 90%;
    height: 280px;
    border-radius: 1rem;
    padding: 10px;
}

.pri-unique-section {
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(34, 34, 34), rgba(255, 255, 255, 0) 100%);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 20px;
    display: flex;
}

.one-left-side,
.one-right-side {
    width: 50%;
}

.gap {
    margin-bottom: 20px;
}

/* BMI calculator styles */
.bmi-content {
    width: 100%;
    height: 490px;
    background: rgb(34, 34, 34);
}

.bmi-title-sec {
    max-width: 660px;
}

.bmi-title-sec h3 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 14px;
    text-align: center;
}

.bmi-title-sec p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 15px;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.bmi-content {
    justify-content: space-evenly;
    align-items: center;
}

.bmi-table h5 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 80px;
}

.bmi-menu {
    width: 577px;
    height: 420px;
}

.bmi-menu h5 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 23px;
    margin-bottom: 8px;
}

.bmi-menu p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.primary-color {
    width: 275.5px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding: 10px;
    margin: .5rem .1rem;
}

#width {
    width: 97%;
}

.bmi-menu-btn {
    margin-top: 15px;
}

/* Our team styles */
.our-team-content {
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
}

.our-team-content h3 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.our-team-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 58px;
}

.our-teams {
    max-width: 1060px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 1rem;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.our-team-members h6 {
    color: #FFFFFF;
    font-size: 1.25rem;
}

.our-team-members p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
}

.our-team-members img {
    width: 100%;
    height: 272px;
    filter: brightness(90%);
    border-radius: 18px;
}

.our-team-members {
    position: relative;
    margin: .1rem 0.1;
    gap: 1rem;
}

.name {
    position: absolute;
    top: 75%;
    left: 10%;
    transform: translate(-12%, 100%);
}

.name-2 {
    position: absolute;
    top: 75%;
    left: 10%;
    transform: translate(-9%, 100%);
}

.profession {
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-28%, 100%);
    text-align: left;
}

/* Footer styles */
.footer-container {
    justify-content: space-evenly;
}

.footer-section {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem 0;
}

.footer-content {
    max-width: 443px;
    height: 176px;
    margin-top: -20px
}

.footer-content h3 {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
}

.footer-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer-content-2 {
    width: 185px;
    height: 249px;
}

.footer-content-2 h5 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    margin-bottom: 38px;
}

.footer-content-2 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin-bottom: 20px;
}

.footer-section hr {
    margin: 2rem 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 1059.5px;
    margin: 0 auto;
}

.copy-right {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 36px;
}


/* Small device responsive media query */
@media screen and (max-width: 576px) {

    /* Navbar & Banner styles */
    .container {
        width: 100%;
    }

    #ham-burger {
        color: rgb(255, 255, 255);
        display: block;
        font-size: 1.8rem;
    }

    .nav-options {
        display: none;
    }

    .fitness-container {
        flex-direction: column;
    }

    .fitness-content {
        width: 100%;
        height: 100%;
    }

    .fitness-content h3,
    .span-italic {
        font-size: 3rem;
        font-weight: 100%;
        width: 285px;
        height: 129px;
        margin-bottom: 75px;
    }

    .fitness-content p {
        width: 75%;
        height: 96px;
        margin-bottom: 30px;
    }

    .btn-primary {
        margin-left: 5px;
        margin-bottom: 50px;
    }

    .btn-primary,
    .btn-secondary {
        width: 45%;
    }

    #btn-font {
        font-size: 1rem;
    }

    .fitness-image img {
        width: 100%;
    }

    .btn-1st {
        bottom: 43%;
        left: -15%;
    }

    .btn-2nd {
        bottom: 80%;
        right: -10%;
    }

    .circle {
        width: 35px;
        height: 35px;
        margin-top: 10px;
        left: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .triangle {
        border-top: 8px solid transparent;
        border-left: 15px solid rgb(250, 250, 249);
        border-bottom: 8px solid transparent;
        position: relative;
        left: 5%;
    }

    /* Habits styles */
    .habits-image {
        grid-template-columns: 1fr;
    }

    .habits-container {
        height: auto;
        margin-top: -10px;
    }

    .habits-image p {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    /* Run styles */
    .run-container {
        flex-direction: column;
        height: auto;
    }

    .run-content {
        width: auto;
        margin-bottom: 10px;
    }

    .our-team-content h3 {
        font-size: 2.5rem;
    }

    .run-content p {
        margin-bottom: 20px;
    }

    .run-content button {
        width: 90%;
    }

    .run-container img {
        width: 100%;
    }

    /* Unique styles */
    .unique-container {
        max-width: 900px;
        height: 100%;
    }

    .unique-content {
        width: 78%;
        /* margin: 40px 50px 40px 50px; */
    }

    .unique-section-contents {
        text-align: left;
        margin: 10px;
    }

    .unique-section-contents h3 {
        text-align: center;
    }

    .unique-section-contents p {
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #break {
        display: none;
    }

    .unique-h3,
    .unique-p {
        width: auto;
    }

    .pri-unique-section {
        width: 90%;
        height: 100%;
        background: none;
    }

    .unique-img {
        width: 100%;
        padding: 0;
    }

    .one-left-side {
        width: 300px;
    }

    .one-right-side {
        width: 300px;
    }

    .flex-direction {
        flex-direction: column;
    }

    .flex-direction-re {
        flex-direction: column-reverse;
    }

    .try {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    /* BMI calculator styles */
    .bmi-content {
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: rgb(34, 34, 34);
    }

    .bmi-container {
        margin-bottom: 20%;
    }

    #bmi-title {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
    }

    .bmi-title-sec {
        width: 75%;
        text-align: center;
    }

    .bmi-table h5 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bmi-menu,
    .bmi-table {
        width: 80%;
        height: 100%;
        margin-top: 20px;
        margin-left: 80px;
    }

    .bmi-menu-contents {
        width: 80%;
    }

    .size-1,
    .size-2 {
        width: 40%;
    }

    #width {
        width: 81.5%;
    }

    /* Meet our team styles */
    .our-teams {
        grid-template-columns: 1fr;
    }

    .our-team-content {
        width: 100%;
        text-align: center;
    }

    /* Footer styles */
    .footer-container {
        flex-direction: column;
    }

    .footer-content,
    .footer-content-2,
    .footer-content-2.foot-con-2 {
        margin: 10px 0;
    }

    #footer-des {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #footer-des-2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Shared styles */
    #pri-title {
        font-size: 2.5rem;
    }
}